# project files
.idea
nbproject

# mac deployment helpers
switch

# node modules
node_modules

# composer files
composer.phar
composer.lock
vendor/*

# Codeception files
codecept.phar
tests/_data/*
tests/_log/*
tests/acceptance/*
tests/functional/*
tests/acceptance.suite.yml
tests/functional.suite.yml

# releases
releases/